In [3]:
import pandas as pd
import numpy as np

In [4]:
# Creat a series
pd.Series (np.random.randn(5),index=['a','b','c','d','e'])

a    1.364684
b    1.086216
c   -2.117052
d   -0.966787
e   -0.975340
dtype: float64

In [5]:
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

In [7]:
print (s[0])

0.58744476042

In [8]:
print(s[:3])

a    0.587445
b    1.559274
c    0.223931
dtype: float64

In [20]:
# Creat a dataframe
df = pd.DataFrame(s, columns = ['Coluna 1'])

In [21]:
df

   Coluna 1
a  0.587445
b  1.559274
c  0.223931
d  0.515250
e  0.443518

In [22]:
# ADD coluna
df['Coluna 2'] = df['Coluna 1'] * 4
df

   Coluna 1  Coluna 2
a  0.587445  2.349779
b  1.559274  6.237098
c  0.223931  0.895725
d  0.515250  2.061000
e  0.443518  1.774071

In [23]:
df.sort_values(by="Coluna 2")

   Coluna 1  Coluna 2
c  0.223931  0.895725
e  0.443518  1.774071
d  0.515250  2.061000
a  0.587445  2.349779
b  1.559274  6.237098

In [25]:
 df.describe()

       Coluna 1  Coluna 2
count  5.000000  5.000000
mean   0.665884  2.663535
std    0.517629  2.070516
min    0.223931  0.895725
25%    0.443518  1.774071
50%    0.515250  2.061000
75%    0.587445  2.349779
max    1.559274  6.237098